[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coderedcms = "==0.20.*"
django_sendmail_backend = "*"
flask = "*"
flask-marshmallow = "*"
flask-mongoengine = "*"

[dev-packages]

[requires]
python_version = "3.9"
